DEEPSEEK_API_KEY=
BOCHA_API_KEY=

LARK_APP_ID=
LARK_APP_SECRET=
LARK_USER_OPEN_ID=

ARKNIGHTS_DB_PATH=arknights.db
ARKNIGHTS_RAG_MODEL=
# Supported ARKNIGHTS_RAG_MODEL values:
# BAAI/bge-small-en-v1.5
# BAAI/bge-small-zh-v1.5
